<h1 mat-dialog-title>Añadir Producción</h1>

<div mat-dialog-content>
    <p>Ingrese los datos</p>



    <mat-form-field class="input" appearance="fill">
        <mat-label>Receta</mat-label>
        <input matInput [(ngModel)]="datacompleto.id_receta" autocomplete="off">
    </mat-form-field>


    <mat-form-field class="input" appearance="fill">
        <mat-label>Cantidad</mat-label>

        <input matInput [(ngModel)]="datacompleto.cantidad" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Fecha Hoja</mat-label>
        <input matInput [(ngModel)]="datacompleto.fecha_hoja" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Encargado</mat-label>
        <input matInput [(ngModel)]="datacompleto.encargado" autocomplete="off">
    </mat-form-field>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cerrar</button>
    <span class="spacer"></span>
    <ng-template>

    </ng-template>
    <button mat-button *ngIf="(this.datacompleto )" [mat-dialog-close]="datacompleto" class="mybutton">Guardar</button>
</div>