<div class="body">
    <div class="bodyx">
        <mat-form-field class="anchox" appearance="fill" hideRequiredMarker>
            <mat-label>Buscar</mat-label>
            <input type="text" matInput autocomplete="off" [(ngModel)]="filtro" (input)="filtrarTabla()" busqueda (keyup)="filtrarTabla()">
        </mat-form-field>
    </div>
    <button mat-raised-button class="myButton" (click)="openDialog()">
        Agregar
        <mat-icon mat-list-icon>add</mat-icon>
    </button>
    <br>
</div>




<div class="mat-elevation-z8">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="25" [pageSize]="10" showFirstLastButtons>
    </mat-paginator>
    <br>
    <table mat-table [dataSource]="datosFiltrados" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8"
        #tabla1>

        <!-- Position Column -->


        <!-- Name Column -->
        <ng-container matColumnDef="fecha_entrada">
            <th mat-header-cell *matHeaderCellDef>
                Fecha de Entrada
            </th>
            <td mat-cell *matCellDef="let almacenIns"> {{almacenIns.fecha_entrada}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="proveedor">
            <th mat-header-cell *matHeaderCellDef>
                Proveedor
            </th>
            <td mat-cell *matCellDef="let almacenIns"> {{almacenIns.proveedor}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>
                Cantidad
            </th>
            <td mat-cell *matCellDef="let almacenIns"> {{almacenIns.cantidad}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="insumo">
            <th mat-header-cell *matHeaderCellDef>
                Insumo
            </th>
            <td mat-cell *matCellDef="let almacenIns"> {{almacenIns.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="peso">
            <th mat-header-cell *matHeaderCellDef>
                Fecha_Vencimiento
            </th>
            <td mat-cell *matCellDef="let almacenIns"> {{almacenIns.fecha_vencimiento}}  </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef>
                Usuario
            </th>
            <td mat-cell *matCellDef="let almacenIns"> {{almacenIns.usuario}} </td>
        </ng-container>
        
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef>
                Acción
            </th>
            <td mat-cell *matCellDef="let j = index">
                <button mat-raised-button class="myButton" (click)="editarDialog()">
                    Editar
                    <mat-icon mat-list-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>
                Eliminar
            </th>
            <td mat-cell *matCellDef="let almacenIns">
                <button mat-raised-button class=" myButton" (click)="eliminarAlmacenins(almacenIns.id_det_insumo)">
                    Eliminar
                    <mat-icon mat-list-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=" columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
</div>