<h1 mat-dialog-title>Agregar Producto</h1>

<div mat-dialog-content>
    <p>Ingrese los datos</p>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Fecha de registro</mat-label>
        <input matInput [(ngModel)]="data.fecha_registro" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput [(ngModel)]="data.cantidad" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Producto</mat-label>
        <mat-select [(value)]="data.id_producto">


            <mat-option value="20001">Pan Molde</mat-option>
            <mat-option value="20002">Sarnita</mat-option>
            <mat-option value="20003">Hamburguesa</mat-option>
            <mat-option value="20004">Molde Pizza</mat-option>
            <mat-option value="20005">Panchito</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Encargado</mat-label>
        <input matInput [(ngModel)]="data.encargado" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Fecha de Vencimiento</mat-label>
        <input matInput [(ngModel)]="data.fecha_vencimiento" autocomplete="off">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cerrar</button>
    <span class="spacer"></span>
    <button mat-button [mat-dialog-close]="data" class="mybutton">Guardar</button>
</div>