<h1 mat-dialog-title>Agregar Producto</h1>

<div mat-dialog-content>
    <p>Ingrese los datos</p>

    <form [formGroup]="formNewAlmacen">

    <mat-form-field class="input" appearance="fill">
        <mat-label>Fecha de registro</mat-label>
        <input matInput [(ngModel)]="data.fecha_registro" autocomplete="off"  formControlName="fecha_registro">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput [(ngModel)]="data.cantidad" autocomplete="off"  formControlName="cantidad">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Producto</mat-label>
        <input matInput [(ngModel)]="data.producto" autocomplete="off"  formControlName="producto">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Encargado</mat-label>
        <input matInput [(ngModel)]="data.encargado" autocomplete="off"  formControlName="encargado">
    </mat-form-field>

</form>
    
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cerrar</button>
    <span class="spacer"></span>
    <button mat-button [mat-dialog-close]="data.animal" class="mybutton">Guardar</button>
</div>