<mat-sidenav-container fullscreen>
    <!-- //style="background-color: #ffffff;"
    mat sidenav.. style="background-color: #0C51A8"
    mat toolbar..  style="background-color: #0C51A8;"
    -->

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar style="background-color: #0C51A8;">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>


        <mat-nav-list>


            <a routerLink="./dashboard" mat-list-item (click)="sidenav.toggle()">

                <span> Tablero de Control</span>
                <span class="spacer"></span>
                <mat-icon mat-list-icon>analytics</mat-icon>

            </a>

            <!-- 
            <a routerLink="./almacen" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>warehouse</mat-icon>
                <span> Almacen de Insumos</span>
            </a>

            <a routerLink="./produccion" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>engineering</mat-icon>
                <span> Producción Diaria</span>
            </a>

            <a routerLink="./ventas" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>sell</mat-icon>
                <span> Almacen de Prod. Finales</span>
            </a>
-->

<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-icon mat-list-icon></mat-icon>
            <mat-panel-title>
                Planificación
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a routerLink="./hoja-produccion" mat-list-item (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>user</mat-icon>
            <span> Hoja de Producción</span>
        </a>
    </mat-expansion-panel>
</mat-accordion> 

            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-icon mat-list-icon>warehouse</mat-icon>
                        <mat-panel-title>
                            Administración de Insumos
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="./kardex-insumos" mat-list-item (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>warehouse</mat-icon>
                        <span> Kardex de Insumos</span>
                    </a>
                    <a routerLink="./insumos" mat-list-item (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>warehouse</mat-icon>
                        <span> Insumos</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-icon mat-list-icon>engineering</mat-icon>
                        <mat-panel-title>
                        Elaboración y Producción
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="./produccion" mat-list-item (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>engineering</mat-icon>
                        <span>Producción</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-icon mat-list-icon>sell</mat-icon>
                        <mat-panel-title>
                            Administración de Productos
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="./ventas" mat-list-item (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>sell</mat-icon>
                        <span> Kardex de Productos</span>
                    </a>
                    <a routerLink="./productos" mat-list-item (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>sell</mat-icon>
                        <span> Productos</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-icon mat-list-icon>user</mat-icon>
                        <mat-panel-title>
                            Gestión de Usuarios
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="./usuarios" mat-list-item (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>user</mat-icon>
                        <span> Listado de Usuarios</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>

        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar style="background-color: #0C51A8;">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <img src="./assets/img/LogoMaxiPan.png" width="80 px">-->
        <span class="spacer"></span>
        <button mat-button (click)="logOut()">
            LogOut
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>