<mat-sidenav-container fullscreen>
    <!-- //style="background-color: #ffffff;"-->

    <mat-sidenav #sidenav mode="push" style="background-color: #0C51A8">
        <mat-toolbar style="background-color: #0C51A8;">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./dashboard" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>analytics</mat-icon>
                <span> Dashboard</span>
            </a>

            <a routerLink="./almacen" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>warehouse</mat-icon>
                <span> Almacen</span>
            </a>

            <a routerLink="./produccion" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>engineering</mat-icon>
                <span> Producción</span>
            </a>

            <a routerLink="./ventas" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>sell</mat-icon>
                <span> Ventas</span>
            </a>


        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar style="background-color: #0C51A8;">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <img src="./assets/img/LogoMaxiPan.png" width="80 px">-->
        <span class="spacer"></span>
        <button mat-button (click)="logOut()">
            LogOut
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>