<h1 mat-dialog-title>Formulario</h1>

<div mat-dialog-content>
    <p>Ingrese los datos</p>
    <mat-form-field class="input" appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput [(ngModel)]="data.codigo" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.nombre" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label>Receta</mat-label>
        <input matInput [(ngModel)]="data.receta" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput [(ngModel)]="data.descripcion" autocomplete="off">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cerrar</button>
    <span class="spacer"></span>
    <button mat-button [mat-dialog-close]="data" class="mybutton">Guardar</button>
</div>