<h1 mat-dialog-title>Añadir Receta</h1>

<div mat-dialog-content>
    <p>Ingrese los datos</p>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Id Receta</mat-label>
        <input matInput [(ngModel)]="datacompleto.id_receta" autocomplete=" off">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Productos</mat-label>
        <mat-select [(value)]="datacompleto.id_producto">

            <mat-option *ngFor="let producto of productos" [value]="producto.id_producto">
                {{ producto.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Insumo</mat-label>
        <mat-select [(value)]="datacompleto.id_insumo">

            <mat-option *ngFor="let insumo of insumo" [value]="insumo.id_producto">
                {{ insumo.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="input" appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput [(ngModel)]="datacompleto.cantidad" autocomplete="off">
    </mat-form-field>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cerrar</button>
    <span class="spacer"></span>
    <button mat-button [mat-dialog-close]="datacompleto" class="mybutton">Guardar</button>
</div>