<h1 mat-dialog-title>Añadir Registro</h1>

<div mat-dialog-content>
    <p>Ingrese los datos</p>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Fecha Entrada (yyyy/mm/dd)</mat-label>
        <input matInput [(ngModel)]="data.fecha_entrada" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Proveedor</mat-label>
        <input matInput [(ngModel)]="data.proveedor" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Insumo</mat-label>
        <mat-select [(value)]="data.id_insumo">


            <mat-option value="10001">Harina</mat-option>
            <mat-option value="10002">Levadura</mat-option>
            <mat-option value="10003">Azucar</mat-option>
            <mat-option value="10004">Manteca</mat-option>
            <mat-option value="10005">Gluten</mat-option>
            <mat-option value="10006">Antimoho</mat-option>


        </mat-select>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput [(ngModel)]="data.cantidad" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Fecha Vencimiento</mat-label>
        <input matInput [(ngModel)]="data.fecha_vencimiento" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Lote</mat-label>
        <input matInput [(ngModel)]="data.lote" autocomplete="off">
    </mat-form-field>


    <mat-form-field class="input" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="data.usuario" autocomplete="off">
    </mat-form-field>



</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cerrar</button>
    <span class="spacer"></span>
    <button mat-button *ngIf="(this.data)" [mat-dialog-close]="data" class="mybutton">Guardar</button>
</div>