<table mat-table [dataSource]="datos" class="mat-elevation-z8">
  

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let desphoy"> {{desphoy.id_hoja_produccion}} </td>
    </ng-container>
  

    <ng-container matColumnDef="Receta">
      <th mat-header-cell *matHeaderCellDef> Receta </th>
      <td mat-cell *matCellDef="let desphoy" > {{desphoy.receta}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let desphoy"> {{desphoy.cantidad}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="unidad">
      <th mat-header-cell *matHeaderCellDef> unidad </th>
      <td mat-cell *matCellDef="let insumo"> {{insumo.cantidad_actual}} </td>
    </ng-container> -->
      

  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>