
<!-- LISTA EN CARTAS, T SALE PERO NO MUESTRA NOMBRES-->
<!--
<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="450px">

        <mat-grid-tile *ngFor="let id_det_insumo of datos " colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>{{datos.nombre}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        </mat-grid-list>
</div>
-->




<!--
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan Sarnita</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan Molde Integral</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan de Leche</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan integral</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan de Hot Dog</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Molde Integral</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Molde de Chia</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
-->

<div class="body">
    <div class="bodyx">
        <mat-form-field class="anchox" appearance="fill" hideRequiredMarker>
            <mat-label>Buscar</mat-label>
            <input type="text" matInput autocomplete="off" style="color:white ;">
        </mat-form-field>
    </div>
    <button mat-raised-button class="myButton" (click)="openDialog()">
        Agregar
        <mat-icon mat-list-icon>add</mat-icon>
    </button>
    <br>
</div>




<div class="mat-elevation-z8">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="25" [pageSize]="10" showFirstLastButtons>
    </mat-paginator>
    <br>
    <table mat-table [dataSource]="datos" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8"
        #tabla1>

        <!-- Position Column -->
        <ng-container matColumnDef="id_insumo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                ID Insumo
            </th>
            <td mat-cell *matCellDef="let insumo"> {{insumo.id_insumo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>
                Nombre
            </th>
            <td mat-cell *matCellDef="let insumo"> {{insumo.nombre}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="unidad">
            <th mat-header-cell *matHeaderCellDef>
                Unidad
            </th>
            <td mat-cell *matCellDef="let insumo"> {{insumo.unidad}} </td>
        </ng-container>


        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef>
                Acción
            </th>
            <td mat-cell *matCellDef="let insumo">
                <button mat-raised-button class="myButton" (click)="editarDialog(insumo.id_insumo)">
                    <a [routerLink]="['/insumo/id', insumo.id_insumo]"></a>
                    Editar
                    <mat-icon mat-list-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>
                Acción
            </th>
            <td mat-cell *matCellDef="let insumo">
                <button mat-raised-button class="myButton" (click)="eliminarDialog(insumo.id_insumo)">
                    Eliminar
                    <mat-icon mat-list-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
</div>