<div class="body">
    <button mat-raised-button class="myButton" (click)="openDialog()">
        Agregar
    </button>
    <button mat-raised-button class="myButton" (click)="openDialog()">
        Editar
    </button>

    <br>


    <!-- 
    <form>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput #orderNumber maxlength=" 3" placeholder="Order Number" autocomplete="off">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput #orderNumber maxlength="13" placeholder="Customer Number" autocomplete="off">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <button mat-raised-button class="btn_send"> Send</button>
            </td>
        </tr>
    </form>-->
</div>