<div class="body">
    <div class="bodyx">
        <mat-form-field class="anchox" appearance="fill" hideRequiredMarker>
            <mat-label>Buscar</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="usuario" style="color:white ;">
        </mat-form-field>
    </div>
    <button mat-raised-button class="myButton" (click)="openDialog()">
        Agregar
        <mat-icon mat-list-icon>add</mat-icon>
    </button>
    <br>

    <!-- 
    <form>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput #orderNumber maxlength=" 3" placeholder="Order Number" autocomplete="off">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput #orderNumber maxlength="13" placeholder="Customer Number" autocomplete="off">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <button mat-raised-button class="btn_send"> Send</button>
            </td>
        </tr>
    </form>-->
</div>