.header-app {
    text-align: center;
}

.buttons-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.myButton {
    padding: 20px;
    margin: 20px;
    width: 20%;
}

li {
    text-decoration: underline;
    padding: 0.3 rem 0;
    list-style: none;
}

.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}