.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {

    justify-content: center;
    align-items: center;

}
.bodyp {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: auto;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}


.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.bodyx {

    width: 100%;
    padding: 0px;
}

.anchox {
    width: 100%;
    padding-top: 15px;
}

.bodyi {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: auto;
}