<h1 mat-dialog-title>Formulario</h1>
<form (submit)="agregar()">
<div mat-dialog-content>
    
    <p>Ingrese los datos</p>
    <mat-form-field class="input" appearance="fill" >
        <mat-label >Id</mat-label>
        <input matInput [(ngModel)]="data.id">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label >Nombre</mat-label>
        <input matInput [(ngModel)]="data.nombre">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label >Receta</mat-label>
        <input matInput [(ngModel)]="data.receta">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label >Descripción</mat-label>
        <input matInput [(ngModel)]="data.descripcion">
    </mat-form-field>
    
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cerrar</button>
    <span class="spacer"></span>
    <button mat-button [mat-dialog-close]="data.animal" class="mybutton">Guardar</button>
</div>
</form>