table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.header-app {
    text-align: center;
    justify-content: center;
}

.buttons-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.myButtonAdd {
    padding: 15px;
    margin: 15px;
    width: 15%;
}

/* li {
    text-decoration: underline;
    padding: 0.3 rem 0;
    list-style: none;
} */

.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.bodyx {

    width: 100%;
    padding: 0px;
}

.anchox {
    width: 100%;
    padding-top: 15px;
}

@media print {

    /* Estilos para el encabezado */
    .encabezado {
        font-size: 24px;
        font-weight: bold;
    }

    /* Estilos para la tabla */
    .tabla {
        width: 100%;
        border-collapse: collapse;
    }

    .tabla th,
    .tabla td {
        border: 1px solid black;
        padding: 8px;
    }
}