
<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="450px">

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan Molde</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan Sarnita</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan Molde Integral</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan de Leche</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan integral</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Pan de Hot Dog</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Molde Integral</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Molde de Chia</mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    Descripcion
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>


    </mat-grid-list>
</div>